<footer class="footer site-footer">
  <div class="container-fluid">
    <div class="footer__inner">
      <div class="row align-items-center">
        <div class="col-lg-6 text-right footer__column order-lg-2">
          <a class="logo" routerLink="/">
            <div class="logo__text">Saju S V</div>
          </a>
        </div>
        <div class="col-lg-6 text-left footer__column order-lg-1">
          <small>© Copyright <a href="#">Saju S V</a> {{ year }} All Right Reserved.</small>
        </div>
      </div>
    </div>
  </div>
</footer>
