.footer {
  position: relative;
  color: #888888;
  z-index: 50;
}

.footer small {
  font-size: 14px;
}

.footer_fixed .footer__inner {
  border-top: none;
  padding: 0;
}

.footer__inner {
  border-top: 1px solid rgba(136, 136, 136, 0.2);
  padding: 35px 0;
}

@media only screen and (max-width: 991px) {
  .footer small {
      font-size: 12px;
    }
}

@media only screen and (max-width: 991px) {
  .footer__column {
      text-align: center !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }

  .footer__inner {
      padding: 20px 0;
    }
}
