<main class="site-main">
  <div class="container-fluid">
    <section class="section section-fullheight section-404 bg-light">
      <div class="section-fullheight__inner section-404__inner">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
              <div class="section-404__content">
                <h1>That page can't be found</h1>
                <div class="section-404__text">
                  <div class="section-404__headline"></div>
                  <p>It looks like nothing found at this location. Try to navigate the menu or go to the home page.</p>
                </div>
                <div class="section-404__wrapper-button">
                  <a class="button button_accent" routerLink="/"><span>Go to Homepage</span></a>
                </div>
              </div>
              <div class="section-404__square"></div>
              <div class="section-404__box"></div>
              <div class="section-404__big">404</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
