<article class="portfolio-details bg-light">
  <app-portfolio-masthead pageTitle="Web Design" tag="Figma"></app-portfolio-masthead>

  <div class="container-fluid">
    <div class="row text-center">
      <div class="col">
        <img class="img-fullwidth" [src]="heroImage" width="1760" height="1173" loading="lazy" alt="" />
      </div>
    </div>

    <app-portfolio-options [options]="options"></app-portfolio-options>
    <app-portfolio-quote [text]="quote"></app-portfolio-quote>
  </div>

  <app-ui-scroll-gallery></app-ui-scroll-gallery>

  <app-portfolio-next-link nextPath="/posterdesign" nextTitle="Poster Design"></app-portfolio-next-link>
</article>
