<header
  class="header header_fixed site-header"
  [ngClass]="{
    'js-header-sticky header_light': variant === 'main',
    header_sticky: isSticky
  }"
>
  <div class="container-fluid">
    <ng-container *ngIf="variant === 'main'; else detailHeader">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <a class="logo" routerLink="/">
            <h1 class="logo__text">Saju S V</h1>
          </a>
        </div>
        <div class="col-auto">
          <div
            class="burger js-burger"
            [class.burger_opened]="menuOpen"
            (click)="toggleMenu()"
          >
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #detailHeader>
      <div class="row align-items-center">
        <div class="col-auto">
          <a class="button-close" routerLink="/">
            <div class="button-close__line"></div>
            <div class="button-close__line"></div>
          </a>
        </div>
      </div>
    </ng-template>
  </div>

  <div
    class="header__wrapper-overlay-menu"
    *ngIf="variant === 'main'"
    [class.is-open]="menuOpen"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <ul class="overlay-menu">
            <li *ngFor="let link of navLinks">
              <a [routerLink]="link.path" (click)="closeMenu()">
                <div class="overlay-menu__item-wrapper">
                  <div class="overlay-menu__item-line"></div>
                  <div class="overlay-menu__item-counter">{{ link.counter }}</div>
                  <span>{{ link.label }}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
